APP_NAME=SmartVoice
APP_ENV=local
APP_DEBUG=true
LOG_LEVEL=INFO

RESULT_STORAGE_DIR=data/call_results

# Mock-провайдер для тестирования
# LLM_PROVIDER=mock
# LLM_MODEL=
LLM_TIMEOUT_SECONDS=60

# Конфигурация OpenRouter
LLM_PROVIDER=openrouter
#LLM_OPENROUTER_API_KEY=
LLM_OPENROUTER_MODEL=openrouter/owl-alpha

# Конфигурация обработки звонков
# CALL_RUNTIME_PROVIDER=mock

# ========================================
#          POSTGRESQL CONFIGURATION
# ========================================
PG_USER=smartvoice_admin
PG_PASS=1qp21qp2
PG_HOST=postgres
PG_PORT=5432
PG_DB=smartvoice

# ========================================
#          ARI (ASTERISK REST INTERFACE) CONFIGURATION
# ========================================
ARI_USER=python
ARI_PASS=supersecret
ARI_HOST=asterisk
ARI_PORT=8088
ARI_APP=python

# ========================================
#        RTP CONFIGURATION
# ========================================
RTP_HOST=celery-worker
RTP_PORT=6000


# ========================================
#        VOSK CONFIGURATION
# ========================================
VOSK_MODEL_PATH=/smartvoice/modules/vosk-model-ru-0.42
# VOSK_MODEL_PATH=models/vosk-model-small-ru-0.22
VOSK_TEST_AUDIO_PATH=C:/Users/ASUS/Desktop/Work/HSE/Magistracy/GroupProject/Запись-1-16k-mono.wav
VOSK_SAMPLE_RATE=16000


CALL_RUNTIME_PROVIDER=vosk
MAX_DIALOGUE_TURNS=6

VAD_SAMPLE_RATE=8000